body {
    background-color: #C2C8C2;

}

.aespalogo {
    width: 15%;
    height: auto;
    float: left;
    right: 30px;
    display: block;
    margin-left: 30px;
}


.content {
    padding: 1%;
}

.member-list {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.members-list {
    margin-top: 8%;  
}


.members ul li img {
    width: 23%;
    height: auto;
}

.topnav {
    display: inline-block;
    margin: 0;
    padding: 10px;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 10px;
    width: auto;
}

.topnav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
}

.topnav a {
    text-decoration: none;
    color: #433E42;
}

.topnav ul li {
    margin: 0 15px;
    font-size: 25px
}

ul {
    list-style-type: none;
}



